extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner MICROSERVICES
    div.Center
      div.Message
        a(href="/one")  
          div.Title 
            h3 Microservice One
            h1 Microservice One
          span.Details Microservice One
      p
      div.Message
        a(href="/three")  
          div.Title 
            h3 Microservice Two
            h1 Microservice Two
          span.Details Microservice Two
    div.NavButtons
      a(href="https://github.com/augustoaccorsi/microservices")
        div.NavButton About
